--extra-index-url https://download.pytorch.org/whl/cpu
gdown
requests
torch
torchvision
transformers
flask
flask-cors
opencv-python-headless
numpy
scikit-learn
pandas
Pillow
matplotlib
seaborn
gunicorn